@import "tailwindcss";

@theme {
  --color-primary: #007A5E;
  --color-secondary: #00A37D;
  --color-accent: #FDB813;
  --color-light: #F7FAFC;
  --color-dark: #1A202C;
  --font-sans: 'Inter', sans-serif;
}
